<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.gym">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Personal"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Video_alloc" />
        <activity android:name=".FullscreenVideoView" />
        <activity
            android:name=".Display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartUpPage"
            android:label="@string/title_activity_start_up_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Homepage" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>